<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css"> <!-- optional if you have CSS -->
</head>
<body>
  <header>
    <h1>My Website Header</h1>
    <nav>
      <a class="active" href="/">HOME</a>
      <a href="/admin/logout">Logout</a>
    </nav>
  </header>
  <hr>
